<div class="main">
  <div class="right">
    <h1>About Earth | By - Pushparaj</h1>
    <p>
      Earth is the third planet from the Sun and the only astronomical object
      known to harbor life. It has a diverse environment with various
      ecosystems, including forests, deserts, oceans, and polar regions. With a
      diameter of about 12,742 km, Earth is the fifth largest planet in the
      solar system. Its atmosphere is composed mainly of nitrogen and oxygen,
      which are essential for life. Earth also experiences a variety of natural
      phenomena such as weather, seasons, and geological activities like
      earthquakes and volcanic eruptions.
    </p>
    <div class="button">
      <button class="btn" >Fun Facts</button>
      <button class="btn">Learn More</button>
    </div>
  </div>
  <div class="left">
    <iframe
      src="https://my.spline.design/earthdayandnight-ded7ad3b22a9d28b618d9641a89305e1/"
      frameborder="0"
      width="100%"
      height="100%"
    ></iframe>
  </div>
</div>
